<app-header></app-header>

<div class="authentication-container">
    <div class="qr-section">
        <!-- Add [width] binding to control the size -->
        <qrcode [qrdata]="qrCode" [width]="qrsize"></qrcode>
        <p class="code-number">{{ displayedData }}</p>
      </div>
    <div class="info-card">
      <h2 class="title">Login with Lightning</h2>

      <p class="description">
        This is the most private way to use SatsToGo. Just open your Lightning wallet and scan the QR code.
      </p>
      <!-- <div class="actions">
        <button mat-button class="invite-btn">Invite</button>
        <button mat-button class="accept-btn">Accept</button>
      </div> -->
    </div>
  </div>
  