<app-header></app-header>

<div class="event-container">
  <div class="event-image-container">
    <img src="{{ imagePath }}" alt="Event" class="event-image">
  </div>
  <div class="event-card-container">
    <mat-card class="event-card">
      <mat-form-field appearance="fill" class="event-title">
        <mat-label>Event Title</mat-label>
        <input matInput placeholder="Event Title" class="event-title" value="{{ event.title }}" disabled>
      </mat-form-field>

      <div class="event-date-time">
      
        <mat-form-field appearance="fill" class="event-date">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Date" [value]="formattedDate" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        <mat-form-field appearance="fill" class="event-time">
          <mat-label>Time</mat-label>
          <input matInput placeholder="Time" value="{{ event.time }}" disabled>
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="event-additional-info">
        <mat-label>Additional Information</mat-label>
        <textarea matInput placeholder="Additional Information" value="{{ event.description }}" disabled></textarea>
      </mat-form-field>

      <div class="event-invited-people">
        <mat-label>Invited People</mat-label>
        <div class="people-icons">
          <!-- Use *ngFor to iterate over the invited people -->
          <img *ngFor="let person of invitedPeople; let i = index" [src]="person.imageUrl" class="person-icon" alt="Person {{ i + 1 }}">
        </div>
      </div>

      <button mat-raised-button color="warn" class="continue-button"  (click)="goEventReward(event)">
        <mat-icon>check</mat-icon>
        Continue
      </button>
    </mat-card>
  </div>
</div>
